<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Pocket Money Tracker</display-name>
	 
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.hatherly.pocketmoneytracker.api.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
   
  <servlet>
    <servlet-name>People</servlet-name>
    <servlet-class>com.hatherly.pocketmoneytracker.api.RetrievePeople</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Transactions</servlet-name>
    <servlet-class>com.hatherly.pocketmoneytracker.api.RetrieveTransactions</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>com.hatherly.pocketmoneytracker.api.Upload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Image</servlet-name>
    <servlet-class>com.hatherly.pocketmoneytracker.api.Image</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StoreImage</servlet-name>
    <servlet-class>com.hatherly.pocketmoneytracker.api.StoreImage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddTransaction</servlet-name>
    <servlet-class>com.hatherly.pocketmoneytracker.api.AddTransaction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Scheduler</servlet-name>
    <servlet-class>com.hatherly.pocketmoneytracker.api.Scheduler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatePerson</servlet-name>
    <servlet-class>com.hatherly.pocketmoneytracker.api.UpdatePerson</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletePerson</servlet-name>
    <servlet-class>com.hatherly.pocketmoneytracker.api.DeletePerson</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.hatherly.pocketmoneytracker.api.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RetrieveUsers</servlet-name>
    <servlet-class>com.hatherly.pocketmoneytracker.api.RetrieveUsers</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.hatherly.pocketmoneytracker.api.ChangePassword</servlet-class>
  </servlet>
          
  <servlet-mapping>
    <servlet-name>People</servlet-name>
    <url-pattern>/people</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Transactions</servlet-name>
    <url-pattern>/transactions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTransaction</servlet-name>
    <url-pattern>/addTransaction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Image</servlet-name>
    <url-pattern>/image</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StoreImage</servlet-name>
    <url-pattern>/storeimage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Scheduler</servlet-name>
    <url-pattern>/scheduler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePerson</servlet-name>
    <url-pattern>/updatePerson</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePerson</servlet-name>
    <url-pattern>/deletePerson</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RetrieveUsers</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/changePassword</url-pattern>
  </servlet-mapping>
    
  <session-config>
  	 <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
